# Base Version From:  https://clynt.com/blog/data-engineering/apache-spark/apache-spark-with-docker#quick-start-single-node-spark-cluster
# Superset Components From: https://github.com/apache/superset/blob/master/docker-compose-image-tag.yml

x-superset-image: &superset-image apachesuperset.docker.scarf.sh/apache/superset:latest-dev
x-superset-volumes:
  &superset-volumes # /app/pythonpath_docker will be appended to the PYTHONPATH in the final container
  - ./superset/docker:/app/docker
  - ./docker/.env:/app/docker/.env
  - superset_home:/app/superset_home
x-spark-image: &spark-image apache/spark
x-spark-volumes: &spark-volumes
  - ./spark/data:/opt/spark-data
  - ./spark/apps:/opt/spark-apps
  - ./spark/jars:/opt/spark/addon-jars
  - ./spark/conf:/opt/spark/conf
  - ./spark/events:/opt/spark/spark-events

services:
  spark-master:
    image: *spark-image
    container_name: spark-master
    hostname: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080" # Spark UI
      - "7077:7077" # Spark master port
      - "4040-4050:4040-4050"
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
    volumes: *spark-volumes
    networks:
      - spark-network
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 8G
        reservations:
          cpus: "2"
          memory: 4G
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped

  spark-worker:
    image: *spark-image
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=4g
    volumes: *spark-volumes
    depends_on:
      spark-master:
        condition: service_healthy
    networks:
      - spark-network
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: "4"
          memory: 6G
        reservations:
          cpus: "2"
          memory: 4G
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    restart: unless-stopped

  spark-history:
    image: *spark-image
    container_name: spark-history
    hostname: spark-history
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.history.HistoryServer
    environment:
      - SPARK_HISTORY_OPTS=-Dspark.history.fs.logDirectory=/opt/spark/spark-events
    ports:
      - "18080:18080"
    volumes:
      - ./spark/events:/opt/spark/spark-events
    depends_on:
      - spark-master
    networks:
      - spark-network

  postgres:
    image: postgres:18.1-alpine
    restart: always
    container_name: postgres-db
    hostname: postgres-db
    env_file:
      - path: docker/.env # default
        required: true
      - path: docker/.env-local # optional override
        required: false
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgrsql/data
      - ./initdb.d:/docker-entrypoint-initdb.d
    networks:
      - spark-network
      - superset-network

  # SuperSet
  redis:
    image: redis:7
    container_name: superset_cache
    restart: unless-stopped
    volumes:
      - redis:/data
    networks:
      - superset-network

  superset:
    env_file:
      - path: docker/.env # default
        required: true
      - path: docker/.env-local # optional override
        required: false
    image: *superset-image
    container_name: superset_app
    command: ["/app/docker/docker-bootstrap.sh", "app-gunicorn"]
    user: "root"
    restart: unless-stopped
    ports:
      - 8088:8088
    depends_on:
      superset-init:
        condition: service_completed_successfully
    volumes: *superset-volumes
    networks:
      - superset-network

  superset-init:
    image: *superset-image
    container_name: superset_init
    command: ["/app/docker/docker-init.sh"]
    env_file:
      - path: docker/.env # default
        required: true
      - path: docker/.env-local # optional override
        required: false
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
    user: "root"
    volumes: *superset-volumes
    healthcheck:
      disable: true
    networks:
      - superset-network

  superset-worker:
    image: *superset-image
    container_name: superset_worker
    command: ["/app/docker/docker-bootstrap.sh", "worker"]
    env_file:
      - path: docker/.env # default
        required: true
      - path: docker/.env-local # optional override
        required: false
    restart: unless-stopped
    depends_on:
      superset-init:
        condition: service_completed_successfully
    user: "root"
    volumes: *superset-volumes
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "celery -A superset.tasks.celery_app:app inspect ping -d celery@$$HOSTNAME",
        ]
    networks:
      - superset-network

  superset-worker-beat:
    image: *superset-image
    container_name: superset_worker_beat
    command: ["/app/docker/docker-bootstrap.sh", "beat"]
    env_file:
      - path: docker/.env # default
        required: true
      - path: docker/.env-local # optional override
        required: false
    restart: unless-stopped
    depends_on:
      superset-init:
        condition: service_completed_successfully
    user: "root"
    volumes: *superset-volumes
    healthcheck:
      disable: true
    networks:
      - superset-network
# END Superset

networks:
  spark-network:
    driver: bridge
  superset-network:
    driver: bridge

volumes:
  postgres_data:
  superset_home:
    external: false
  redis:
    external: false
